/* https://coolors.co/a63446-fbfef9-0c6291-000004-7e1946 */


#canvas-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    float: initial;
}

canvas {
    box-shadow: black 20px 10px 50px;
    display: none;
}


.logo {
  margin: auto;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* text-align: center;*/
  width: 4rem;
  height: 4rem;
  font-family: "Courgette", cursive;

}

header {
  background-color: #fbfef9;
}

.navbar-light .navbar-nav .nav-link {
  color: #000004;
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Courgette", cursive;
  text-align: center;
  color: #0c6291;
  font-size: 3rem;
  margin-top: 1.5rem;
  font-weight: bold;
}

h3{
  font-family: "Courgette", cursive;
  text-align: center;
  color: #0c6291;
}

p {
  font-family: "Nunito Sans", sans-serif;
  margin: 0.5rem;
  padding: 0.5rem;
}

form{
  margin: auto;
}

label {
  margin: 0.5rem;
  color: #042536;
  font-size: 2.5rem;
  font-family: "Nunito Sans", sans-serif;
}

option{
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

.card-body {
  border-radius: 5%;
  padding: 0.5rem;
}

#status {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.852);
  color: whitesmoke;
  border-radius: 0 4px 4pxZ 0;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  top: 1rem;
  left: 0;
  position: fixed;
}

#status div{
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

html body main #text{
padding: 0;
}

body > main > div.card > div > p {
  padding-left: 0;
  margin-left: 0;
}

.video-container-yt {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  padding: 0.5rem;
  height: auto;
  background-color: #a63446;
  color: white;
  font-size: 1.5rem;
  bottom: 0;
  position: fixed;
}


@media screen and (min-width: 600px) {
 html main div#status {
    bottom: 0 !important;
    top: auto;
  }
}